<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FoodTrackerTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FoodTrackerUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF5782121F03A465001942F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF58EC451F06382F00B01FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF58EC531F06386000B01FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB257241F0A5D4F002E1382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB257321F0A5D7F002E1382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB257401F0A6B2C002E1382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
